
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header 
{
  text-align: center;
  padding: 1rem;
}

.top-nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav a {
  text-decoration: none;
  background-color: #AF1B3F;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.top-nav a:hover {
  background-color: #EFC69B;
  color: #473144;
}


body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #222222;
  color: #ffffff;
}


footer {
  text-align: center;
  padding: 1rem;
}

footer img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

/* Dropdown */
select {
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 5px;
}
